#headerDiv{
    background-color:lightgrey;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

#headerDiv img{
    height: 100px;
    width: 15%;
    float: left;
}

#headerDiv h1{
    color:darkblue ;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 20px;
    float: left;

}
#mainDiv {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    color: brown;
    margin-left: 100px;
    margin-top: 200px;


}

#footerDiv{
    background-color: lightgrey ;
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
     }
     #footerDiv p{
         color: darkblue;
         margin-left: 40;
         margin-top: 10px;
         text-align: center;

     }


     body{
    direction: ltr;
    background-color: aliceblue;
     }
  

     .about{
       margin-top: 150px;
        margin-left: 5px;
        font-size: 1.2rem;
        color :darkblue;
    }
    #aboutImg:hover{
        border: 2px solid burlywood;
 
    }
    
    #methods{
        color:darkred;
    }

    #aboutImg{
        width: 150px;
        height: 150px;
        border: 4px solid rgb(247, 250, 247);
        margin-right: 5px;
        margin-left: 20px;
        background-color: transparent;
        padding: 1px;
        margin-bottom: 2px;
        
    }       