
    .gridContainer{
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 10px;
       border: 1px;
       border-radius: 2px;
         margin-left: 20px;
         margin-top: 70px;
        
    }
    
    .gridItem{
        margin-left: 20px;
        color:darkblue;
        border: 5px;
        border-radius: 5px;
        border-color: blue;
    }
    .gridContainer img{
        height: 200px;
        width: 200px;
       border: 2px solid darkolivegreen;
       margin-top: 40px;
    }
    
    .carousel img {
        width: 50px;
        height: 50px;
    }
   

   .gridContainer img:hover{
       border: 2px;
       border-radius: 2px;
       border-block-color: green;
       
}
   
.gridContainer h3{
       margin-top: 50px;
       color:darkgreen;
       margin-right: 40px;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

   span{
color: brown;

   }
   body{
    background-image: url("../media/edu.jpg");
    background-position: center;
    background-size: cover;


}