#headerDiv{
    background-color:lightgrey;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

}

#headerDiv img{
    height: 100px;
    width: 300px;
    float: left;
    
}

.vh-100{
    width: 80%;
    height: 50%;
    margin-top: 10px;
    color: darkblue;
}

#headerDiv h1{
    color: midnightblue ;
    font-size: 40px;
    margin-top: 20px;
    margin-left: 100px;
    float: left;


}

#headerLinks{
    margin-right: 5%;
    margin-top: 10px;
    float: right;
}

#headerDiv a{
    color: green;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 40;
    float: left;
    text-decoration:none;
    background-color: whitesmoke;
    padding: 5px;
    border: 1px solid green;
    border-radius: 5px;
    
}

#headerDiv a:hover{
    color: lightgray;
    
}

#footerDiv{
    background-color: lightgrey;
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
     }
#footerDiv p{
    font-size: 15px;
         color: midnightblue;
         margin-left: 40;
         margin-top: 10px;
         text-align: center;

     }
     #loginForm{
         margin-top: 200px;
         margin-right: 30px;
     

    
     }

     .img-fluid{
         border: 3px solid darkgreen;
     }
      body{
        background-image: url("../media/edu.jpg");
        background-position: center;
        background-size: cover;
     }
     headerLinks a:hover{
        background-color: aliceblue;
        color:whitesmoke;
     }
     @media screen and (max-width: 1020px){
         body{
             background-color: red;

         }
         #headerDiv h1{
           font-size: 36px;
           margin-left: 30px;

        }
        #headerDiv a{
            margin-left: 20px;
            margin-top: 4%;
        }
        headerLinks a:hover{
            background-color: aliceblue;
            color: black;
           
        }
    
}
#demo{
    margin-top: 100px;
}

#mainDiv{


    margin-top: 50px;
    margin-left: 200px;
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
}



@media screen and (max-width: 600px){
    body{
        background-color: red;

    }
    #headerLinks  {
    margin-top: 10px;
    background-color: lightgray;
    padding: 25px;
    }

    headerLinks a:hover{
        background-color: aliceblue;
        color: black;
       
    }
    #headerLinks a {
     display:block;
     background-color: lightgray;
     border: 0px;
     margin-left: 0px;
    
     text-align: center;

   }

}
body{
    background-image: url("../media/edu.jpg");
    background-position: center;
    background-size: cover;


}
.img-fluid{
    width: 100%;
    height: 100%;
}

#welcome{
    height:300px;
    width:300px;
   float: right;
    margin-top:80px;
    /* cursor: pointer; */


}

#mainDivId{
    margin-top: 200px;
    margin-left: 100px;
    color: midnghtblue;
    font-family: Arial, Helvetica, sans-serif;}

   
    #contactlabel{
        background-color: gray;
        width: 50%;
    }
    #contactinput{
        width: 50%;
    }

    #massage{
        width: 50%;
        height: 30px;
    }

    
    #service a{
        margin-top:200px; 
        margin-right: 40px;
        font-size: 36px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: limegreen;
        width: 20px;
        background-color: gainsboro;
        display: block;
        padding:20px;
    }

    #navitem{
        margin-top: 100px;
        margin-right: 70px;
        padding-block: 20px;
        background-color: lightgray;
        font-size: 36px;

        
    }
    #skillsimg{
        width: 500px;
        height:500px;
        margin-left: 300px;
        margin-top: 200px;
        
    }
    #skillbody{
        background-image: url("../media/download.jpg")
    }

    
.btn{
    text-emphasis: pointer;
}

.form-check.form-switch{
    margin-top: 40px;
    float: right;
    

}
.body{
    width: 100%;
    height: 100vh;
    background-image: url(../media/bubbles.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    
}